/* Table */
.table{
    border-collapse:collapse; 
    border-style:solid;
    border-width:2px;
   } 
td,th{
    
    text-align: center;
    padding: 25px;
    border-style:solid;
    border-width:2px;
}
caption{
    padding-bottom: 12px;
}




